/*
* @Author: mingming
* @Date:   2017-03-18 09:57:28
* @Last Modified by:   mingming
* @Last Modified time: 2017-04-04 14:10:58
*/
body {
	background: url(../img/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.findpassword h2 {
	font-size: 26px;
	color: #b31800;
	margin-bottom: 15px;
}

.findpassword {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 60px;
	margin: 40px;
	border-radius: 10px;
}

.findpassword .title p {
	float: left;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	color: #666;
	width: 210px;
}

.findpassword .title span {
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #b31800;
	text-align: center;
}

.findpassword .title span i {
	margin: 0 auto;
}

.findpassword .title {
	margin-bottom: 20px;
}

.findpassword .title .new {
	background-color: #3f89ec;
}

.containerpassword h3 {
	font-size: 18px;
}

.containerpassword input {
	font-size: 18px;
}

/* #imgbox{
	display: inline-block;
	width: 60px;
	height: 45px;
	background-color: #fff;
} */
.nextContainer {
	background-color: #3f89ec;
	color: #fff;
	width: 300px;
}

#identifyingCodeBt {
	background-color: #3f89ec;
	color: #fff;
	padding: 1px;
}

::-webkit-input-placeholder {
	font-size: 14px;
}

:-moz-placeholder {
	font-size: 14px;
}

::-moz-placeholder {

	/* Mozilla Firefox 19+ */
	font-size: 14px;
}

:-ms-input-placeholder {

	/* Internet Explorer 10+ */
	font-size: 14px;
}

/* 小屏幕（平板，小于等于 768px） */
@media (max-width:768px) {
	.findpassword h2 {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.findpassword {
		padding: 10px;
		margin: 20px;
		border-radius: 5px;
	}

	.findpassword .title p {
		padding: 3px 8px;
		font-size: 14px;
		width: 150px;
	}

	.findpassword .title span {
		border-radius: 50%;
		width: 18px;
		height: 18px;
		line-height: 18px;
	}

	.findpassword .title {
		margin-bottom: 10px;
	}

	.containerpassword h3 {
		font-size: 14px;
	}

	.containerpassword input {
		font-size: 14px;
	}

	#imgbox {
		width: 60px;
		height: 45px;
	}

	.nextContainer {
		width: 140px;
	}

	#identifyingCodeBt {
		padding: 1px;
	}

	::-webkit-input-placeholder {
		font-size: 14px;
	}

	:-moz-placeholder {
		font-size: 14px;
	}

	::-moz-placeholder {

		/* Mozilla Firefox 19+ */
		font-size: 14px;
	}

	:-ms-input-placeholder {

		/* Internet Explorer 10+ */
		font-size: 14px;
	}

}